@value realWhite, commonWhite, commonRed, commonGrey from '../../common/color.css';

.header {
    position: relative;
    padding: 0.9rem 1rem;
    background-color: realWhite;
    border-bottom: .3px solid commonGrey;
}

.list {
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.menuButton {
    cursor: pointer;
    border: 1px solid transparent;
    margin-right: 0.5em;
    color: commonRed;
    border-color: commonRed;
    background-color: realWhite;
    user-select: none;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.menuButton:hover {
    color: realWhite;
    background-color: commonRed;
}

.menuIcon {
    margin-top: .2em;
    font-size: 1.5em;
    font-weight: 900;
    overflow: hidden;
}

.search {
    width: 20em;
    height: 2em;
    padding: .1em .5em;
    border: 0.5px solid commonGrey;
}