@value realWhite, commonWhite, commonRed, commonGrey from '../../common/color.css';

@font-face {
  font-family: 'cafe24-decoshadow';
  src: url(../../fonts/eng/Cafe24Decoshadow.ttf) format('truetype');
}

@font-face {
  font-family: 'cafe24-ssuround';
  src: url(../../fonts/Cafe24Ssurround.ttf) format('truetype');
  font-weight: 300;
}

.nav {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  max-height: 2.35em;
  padding: 0.57em 0.8em;
  color: commonRed;
  background-color: realWhite;
  border-bottom: .3px solid commonGrey;
  font-family: 'cafe24-ssuround';
  font-size: 1.95em;
}

.ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'cafe24-decoshadow';
  /* text-shadow: 2px 2px 2px lightgray; */
}

.li {
  padding: 0.7em 1em;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid commonGrey;
}

.action {
  background-color: #FDEFEE;
}

.action .link {
  color: #40a9ff;
}

.link {
  color: commonRed;
}

.li:hover {
  background-color: #FDEFEE;
}

.li:hover .link {
  color: #40a9ff;
}

.link > .icon {
  font-size: 1.2em;
  margin-right: 0.7em;
}

.icon {
  vertical-align: middle;
}