@value realWhite, commonRed, commonWhite from '../../common/color.css';

@font-face {
  font-family: 'cafe24-ssuround';
  src: url(../../fonts/Cafe24Ssurround.ttf) format('truetype');
  font-weight: 300;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  background-color: realWhite;
  font-family: 'cafe24-ssuround';
}

.title {
  margin: 0;
  color: commonRed;
  font-size: 4rem;
}

.sub {
  margin: 0;
}

.link {
  margin-top: 1em;
  font-size: 2rem;
  cursor: pointer;
  color: commonRed;
  border-bottom: 1px solid commonRed;
}

.link:hover {
  color: #40a9ff;
  border-bottom: 1px solid #40a9ff;
}